<header class="l-header">
  <!-- l-header：ページ全体のヘッダー（layoutの役割） -->
  <div class="l-header__inner">

    <h1 class="l-header__logo">
      <img src="/images/CMYK_20241001_habataki create_1.png" width="250" height="150" alt="おうみのブログ" />
    </h1>
    <p class="l-header__title">おうみのブログ</p>
   
  </div>
</header>
